.form-input {
  width: 100%;
  padding-right: 9px;
  border: none;
  border-bottom: 2px solid #000000;
}
.form-input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
}
.page__body {
  min-height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #000000;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-header {
  position: relative;
}
.page-header__wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 31px;
  box-shadow: 0 1px 0 #ececec;
}
.page-header__logo {
  width: 85px;
  height: 35px;
}
.page-header__toggle {
  position: absolute;
  right: 31px;
  width: 20px;
  height: 20px;
  background-image: url("../img/header-icons/header-toggle-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.page-header__toggle--closed {
  background-image: url("../img/header-icons/header-toggle-button.svg");
}
.page-header__navigation {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.page-header__navigation--closed {
  display: none;
}
.header-navigation {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ffffff;
}
.header-navigation__list li {
  min-height: 79px;
  padding-top: 28px;
  padding-left: 76px;
  box-shadow: 0 1px 0 #ececec;
}
.promo-navigation {
  display: none;
}
.intro {
  width: 100%;
  background: url("../img/img-index/intro-background.jpg") no-repeat center -22px;
  background-size: 568px 373px;
}
.intro__wrapper {
  padding: 73px 30px 120px 30px;
  display: flex;
  justify-content: center;
}
.main-title {
  margin: 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}
.intro-product-list {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
}
.intro-product-list__item {
  padding: 24px 36px 31px 30px;
  background-color: #63d1bb;
}
.intro-product-list__item--toys {
  padding-right: 27px;
  background-color: #56c3b2;
}
.intro-product-list__link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.promo {
  padding-top: 31px;
  padding-bottom: 45px;
}
.promo__wrapper {
  margin-left: 30px;
  margin-right: 30px;
}
.promo__title {
  margin-bottom: 3px;
}
.promo__subtitle {
  display: block;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}
.promo__description {
  margin: 0;
  margin-bottom: 26px;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}
.promo__details {
  margin: 0;
  margin-bottom: 28px;
}
.promo__illustration {
  display: block;
  margin: auto;
  margin-bottom: 25px;
}
.promo__price {
  display: block;
  margin: auto;
  margin-bottom: 24px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
.promo__button {
  margin: auto;
}
.product-details {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}
.product-details__column {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  min-height: 40px;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ececec;
}
.product-details__parameter {
  margin: 0;
  text-transform: lowercase;
}
.button {
  text-decoration: none;
  color: inherit;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
.button--primary,
.button--modal {
  display: block;
  width: 260px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.button--primary {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 20px;
  border: 2px solid #444444;
}
.button--primary:hover {
  color: #ffffff;
  background-color: #444444;
}
.button--primary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #444444;
}
.button--modal {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 17px;
  line-height: 16px;
  color: #ffffff;
  background-color: #63d1bb;
}
.advantages {
  padding: 38px 30px 58px 30px;
}
.advantages__title {
  margin-bottom: 82px;
}
.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 83px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
.advantages-list__item {
  position: relative;
}
.advantages-list__item::before {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.advantages-list__item--material::before {
  bottom: 56px;
  left: 8px;
  width: 33px;
  height: 38px;
  background: url("../img/img-index/advantages-icons/eco.svg");
}
.advantages-list__item--style::before {
  bottom: 66px;
  width: 47px;
  height: 27px;
  background: url("../img/img-index/advantages-icons/style.svg");
}
.advantages-list__item--likes::before {
  bottom: 61px;
  left: 7px;
  width: 34px;
  height: 27px;
  background: url("../img/img-index/advantages-icons/likes.svg");
}
.advantages-list__item--handmade::before {
  bottom: 57px;
  left: 3px;
  width: 35px;
  height: 34px;
  background: url("../img/img-index/advantages-icons/handmade.svg");
}
.advantages-list__item--native::before {
  bottom: 66px;
  left: -6px;
  width: 55px;
  height: 23px;
  background: url("../img/img-index/advantages-icons/native.svg");
}
.advantages-list__item--package::before {
  bottom: 60px;
  left: 3px;
  width: 33px;
  height: 32px;
  background: url("../img/img-index/advantages-icons/gift.svg");
}
.feedback {
  padding: 0 30px 45px 30px;
}
.feedback__title {
  margin-bottom: 14px;
}
.feedback__item {
  margin: 0;
  margin-bottom: 30px;
}
.feedback__slider {
  margin-bottom: 38px;
}
.feedback__button {
  margin: auto;
}
.review__text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.review__info {
  font-style: normal;
}
.review__author {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
.review__link {
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}
.feedback-slider {
  width: 100%;
  height: 52px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0 1px #ececec;
}
.feedback-slider__button {
  width: 50%;
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 13px;
}
.feedback-slider__button--prev {
  padding-left: 42px;
  padding-right: 42px;
  border-right: 1px solid #ececec;
}
.feedback-slider__button--next {
  padding-left: 37px;
  padding-right: 42px;
}
.feedback-slider__button:hover .feedback-slider__image {
  fill: rgba(0, 0, 0, 0.6);
}
.feedback-slider__button:active .feedback-slider__image {
  fill: rgba(0, 0, 0, 0.3);
}
.feedback-slider__image {
  fill: #000000;
}
.feedback-slider__image--next {
  transform: rotate(180deg);
}
.contacts {
  padding-top: 38px;
}
.contacts__wrapper {
  padding-right: 30px;
  padding-left: 29px;
  margin-bottom: 62px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contacts__title {
  margin-bottom: 28px;
}
.contacts__item {
  display: flex;
  gap: 30px;
  font-size: 14px;
  line-height: 30px;
  font-style: normal;
  color: #444444;
}
.contacts__text {
  text-transform: lowercase;
}
.contacts__address {
  font-style: normal;
}
.contacts__map {
  display: block;
  margin-bottom: 41px;
  width: 100%;
  height: 454px;
  border: none;
}
.contacts__button {
  margin: auto;
  margin-bottom: 39px;
}
.page-footer {
  padding-top: 29px;
  padding-bottom: 23px;
  background-color: #f1f1f1;
}
.page-footer__social-list {
  margin-bottom: 58px;
}
.page-footer__copyright {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.footer-logo--hidden {
  display: none;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 29px;
}
.socials__item {
  width: 28px;
  height: 22px;
}
.socials__link {
  width: 100%;
  height: 100%;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-link:hover .social-link__image {
  fill: #46c1ae;
}
.social-link:active .social-link__image {
  fill: rgba(70, 193, 174, 0.3);
}
.social-link__image {
  fill: #231f20;
}
.copyright-link {
  display: flex;
  align-items: center;
  gap: 27px;
}
.copyright-link__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}
.copyright-link__image {
  fill: #63d1bb;
}
.copyright-link__image:hover {
  fill: #46c1ae;
}
.copyright-link__image:active {
  fill: rgba(70, 193, 174, 0.3);
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
}
.modal--open {
  display: block;
}
.modal__wrapper {
  margin: auto;
  margin-top: 225px;
  margin-bottom: 225px;
  padding: 28px 30px 46px 30px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}
.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__title {
  margin: 0 auto;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
.modal__description {
  margin: 0;
  margin-bottom: 21px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.modal-form__options {
  margin-bottom: 31px;
}
.size-options-list {
  display: flex;
  justify-content: center;
  gap: 7px;
}
.size-item__control-mark {
  width: 82px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  outline: 2px solid rgba(68, 68, 68, 0.1);
}
.size-item__control-input:checked ~ .size-item__control-mark {
  outline: 2px solid #63d1bb;
}
.main-title-wrapper {
  padding-top: 74px;
  padding-bottom: 73px;
  background-color: #f1f1f1;
}
.form {
  padding: 17px 30px 55px 30px;
}
.form__description {
  margin: 0;
  margin-bottom: 29px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
.order-form__info {
  display: block;
  margin-top: 17px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
.order-form__button {
  margin: auto;
}
.form-group {
  margin: 0;
  padding: 0;
  border: none;
}
.form-group--type {
  margin-bottom: 31px;
}
.form-group--type .form-group__title {
  margin-bottom: 30px;
}
.form-group--color {
  margin-bottom: 33px;
}
.form-group--color .form-group__title {
  margin-bottom: 25px;
}
.form-group--name {
  margin-bottom: 34px;
}
.form-group--name .form-group__title {
  margin-bottom: 29px;
}
.form-group--phone {
  margin-bottom: 34px;
}
.form-group--phone .form-group__title {
  margin-bottom: 19px;
}
.form-group--mail {
  margin-bottom: 34px;
}
.form-group--mail .form-group__title {
  margin-bottom: 20px;
}
.form-group--other .form-group__title {
  margin-bottom: 22px;
}
.form-group__title {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
}
.form-group__title::after {
  width: 200px;
  height: 1px;
  margin-left: auto;
  background-color: #63d1bb;
  content: "";
}
.form-group__list {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
.form-group__list--type {
  gap: 24px;
}
.form-group__list--color {
  gap: 23px;
}
.form-group__list--name {
  gap: 22px;
}
.form-group__content {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.form-group__input {
  width: 100%;
  padding-right: 9px;
  border: none;
  border-bottom: 2px solid #000000;
}
.form-group__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.form-group__input--phone {
  padding-bottom: 20px;
}
.form-group__input--mail {
  padding-bottom: 18px;
}
.form-group__textarea {
  width: 100%;
  height: 142px;
  padding: 17px;
  box-sizing: border-box;
  border: 2px solid #444444;
  resize: none;
}
.form-group__textarea::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.group-control {
  display: grid;
  align-items: center;
}
.group-control--radio {
  grid-template-columns: 42px 1fr;
  gap: 19px;
}
.group-control--checkbox {
  grid-template-columns: 38px 1fr;
  gap: 23px;
}
.group-control__mark {
  position: relative;
  box-sizing: border-box;
  border: 2px solid #444444;
  cursor: pointer;
}
.group-control__mark--radio {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.group-control__mark--checkbox {
  width: 38px;
  height: 38px;
}
.group-control__mark:hover {
  border-color: #62d1ba;
}
.group-control__mark:active {
  border-color: rgba(0, 0, 0, 0.3);
}
.group-control__input[type="radio"]:checked ~ .group-control__mark::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  width: 18px;
  height: 18px;
  background-color: #62d1ba;
  border-radius: 50%;
}
.group-control__input[type="checkbox"]:checked ~ .group-control__mark::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 6px;
  width: 23px;
  height: 16px;
  background: url("../img/img-form/checkbox-tick.svg") no-repeat center;
}
.group-content__input {
  width: 100%;
  padding-right: 9px;
  border: none;
  border-bottom: 2px solid #000000;
  padding-bottom: 17px;
}
.group-content__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.catalog__list {
  padding: 30px;
  margin: auto;
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-list {
  gap: 30px;
}
.products-list__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog-item {
  outline: 1px solid #ececec;
}
.catalog-item__image {
  margin: auto;
}
.catalog-item__title {
  padding-left: 28px;
  font-size: 17px;
  line-height: 24px;
}
.catalog-item__wrapper {
  padding-left: 28px;
  padding-right: 27px;
  padding-bottom: 26px;
}
.catalog-item__details {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}
.catalog-item__buy-wrapper {
  display: flex;
  justify-content: space-between;
}
.catalog-item__price {
  font-size: 15px;
  line-height: 24px;
}
.catalog-item__button {
  width: 20px;
  height: 19px;
  cursor: pointer;
}
.catalog-item__button:hover .catalog-item__cart {
  fill: #63d1bb;
}
.catalog-item__button:active .catalog-item__cart {
  fill: rgba(99, 209, 187, 0.3);
}
.catalog-item__cart {
  fill: rgba(0, 0, 0, 0.2);
}
.production {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 58px;
}
.production__wrapper {
  margin: auto;
  display: flex;
  width: min-content;
  flex-direction: column;
  outline: 1px solid #ececec;
}
.production__title {
  position: relative;
  margin-top: 21px;
  margin-left: 91px;
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 24px;
}
.production__title::before {
  position: absolute;
  content: "";
  top: 12px;
  left: -59px;
  width: 32px;
  height: 22px;
  background: url("../img/img-catalog/video-icon.svg") no-repeat center;
}
.production__order {
  margin-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
}
.production__description {
  margin: 0;
  margin-bottom: 41px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
.production__button {
  width: 100%;
  margin-bottom: 33px;
}
.video-controls {
  position: relative;
}
.video-controls__button {
  position: absolute;
  top: 37px;
  left: 80px;
  width: 100px;
  height: 77px;
  box-sizing: border-box;
  background: url("../img/img-catalog/play-button.svg") no-repeat;
}
/*# sourceMappingURL=style.css.map */
