.production {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 58px;

  @media (min-width: @tablet-width) {
    padding: 0 50px 64px;
  }
}

.production__wrapper {
  margin: auto;
  display: flex;
  width: min-content;
  flex-direction: column;

  outline: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: @tablet-width) {
    width: calc(100% - 100px);
  }

  @media (min-width: @desktop-width) {
    width: fit-content;
    display: grid;
    grid-template-columns: 682px 288px;
    grid-template-rows: repeat(3, max-content);
    column-gap: 79px;
  }
}

.production__title {
  position: relative;

  margin-top: 21px;
  margin-left: 91px;
  margin-bottom: 26px;

  font-size: 17px;
  line-height: 24px;

  &::before {
    position: absolute;
    content: "";
    top: 12px;
    left: -59px;

    width: 32px;
    height: 22px;

    background: url("../img/img-catalog/video-icon.svg") no-repeat center;
  }

  @media (min-width: @tablet-width) {
    margin-top: 41px;
    margin-left: 107px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 24px;

    &::before {
      top: 0;
      left: -77px;
    }
  }

  @media (min-width: @desktop-width) {
    grid-row: 1/2;
    margin: 0;
    margin-top: 96px;
    margin-right: 110px;

    &::before {
      top: -51px;
      left: 0;
    }
  }
}

.production__video {
  @media (min-width: @tablet-width) {
    order: -1;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1/-1;
  }
}

.production__order {
  margin-top: 35px;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 24px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.production__description {
  margin: 0;
  margin-bottom: 41px;

  font-size: 13px;
  line-height: 24px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }
}

.production__button {
  width: 100%;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin: auto;
    margin-bottom: 46px;
    width: 584px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    margin: 0;
    margin-bottom: 60px;
  }
}
