.video-controls {
  position: relative;
}

.video-controls__button {
  position: absolute;
  top: 37px;
  left: 80px;

  width: 100px;
  height: 77px;
  box-sizing: border-box;

  background: url("../img/img-catalog/play-button.svg") no-repeat;

  @media (min-width: @tablet-width) {
    top: 189px;
    left: 283px;
  }

  @media (min-width: @desktop-width) {
    top: 190px;
    left: 292px;
  }

  &:hover {
    transform: scale(1.2);
    transition: transform, 0.1s;
  }

  &:active {
    transform: scale(0.8);
    transition: transform, 0.1s;

    opacity: 0.3;
  }
}

.video-controls__clip {
  display: block;
  width: 100%;
  height: auto;
}
