.form-group {
  margin: 0;
  padding: 0;

  border: none;

  &--type {
    margin-bottom: 31px;

    .form-group__title {
      margin-bottom: 33px;
    }

    @media (min-width: @tablet-width) {
      margin: 0;
      padding: 50px;
      padding-top: 0;
    }

    @media (min-width: @desktop-width) {
      padding: 0 111px 49px;
    }
  }

  &--color {
    margin-bottom: 33px;

    .form-group__title {
      margin-bottom: 25px;
    }

    @media (min-width: @tablet-width) {
      margin: 0;
      padding: 50px;
      padding-top: 46px;

      background-color: #f1f1f1;
    }

    @media (min-width: @desktop-width) {
      padding: 45px 111px 52px;
    }
  }

  &--name {
    margin-bottom: 34px;

    .form-group__title {
      margin-bottom: 29px;

      @media (min-width: @tablet-width) {
        margin-top: 11px;
      }
    }

    @media (min-width: @tablet-width) {
      padding: 54px 50px 50px;
      margin-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      padding: 54px 111px 50px;
      margin-bottom: 0;
      margin-right: 115px;
    }
  }

  &--phone {
    margin-bottom: 34px;

    .form-group__title {
      margin-bottom: 19px;
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 25px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 115px;
    }
  }

  &--mail {
    margin-bottom: 35px;

    .form-group__title {
      margin-bottom: 20px;
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      margin-right: 115px;
    }
  }

  &--other {
    .form-group__title {
      margin-bottom: 22px;
    }

    @media (min-width: @tablet-width) {
      padding: 46px 50px 47px;
    }

    @media (min-width: @desktop-width) {
      padding: 50px 111px 49px;
      margin-right: 115px;
    }
  }
}

.form-group__inner {
  position: relative;

  @media (min-width: @tablet-width) {
    width: 100%;
    display: grid;
    grid-template-columns: 88px 1fr;
    column-gap: 79px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    column-gap: 24px;
  }
}

.form-group__title {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;

  @media (min-width: @tablet-width) {
    display: block;
    align-self: start;
    width: max-content;
    margin-top: 20px;
  }

  &::after {
    width: calc(100% - 59px);
    height: 1px;
    margin-left: auto;

    background-color: #63d1bb;

    content: "";

    @media (min-width: @tablet-width) {
      content: none;
    }
  }
}

.form-group__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    line-height: 19px;
  }

  &--type {
    gap: 9px;

    @media (min-width: @tablet-width) {
      gap: 22px;
    }
  }

  &--color {
    gap: 23px;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: max-content 1fr;
      column-gap: 83px;
      row-gap: 23px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: repeat(3, max-content);
      column-gap: 99px;
      row-gap: 22px;
    }
  }

  &--name {
    gap: 22px;

    @media (min-width: @tablet-width) {
      gap: 31px;
    }
  }
}

.form-group__content {
  display: flex;
  flex-direction: column;
  gap: 13px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.form-group__icon {
  position: absolute;
  left: 87%;
  top: 34px;

  fill: rgba(0, 0, 0, 0.2);

  @media (min-width: @tablet-width) {
    top: 14px;
    left: 92%
  }

  @media (min-width: @desktop-width) {
    left: 96%;
  }
}

.form-group__input {
  .form-input();

  &--phone {
    padding-bottom: 13px;

    @media (min-width: @tablet-width) {
      padding-bottom: 16px;
      padding-top: 17px;
    }
  }

  &--mail {
    padding-bottom: 11px;

    @media (min-width: @tablet-width) {
      padding-top: 4px;
      padding-bottom: 16px;
    }
  }

  &:hover ~ .form-group__icon,
  &:active ~ .form-group__icon,
  &:focus ~ .form-group__icon {
    fill: #62d1ba;
  }
}

.form-group__textarea {
  width: 100%;
  height: 142px;
  padding: 17px;
  box-sizing: border-box;

  font-size: 19px;
  line-height: 18px;

  border: 2px solid #444444;

  resize: none;

  &::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);

    @media (min-width: @tablet-width) {
      font-size: 19px;
      line-height: 18px;
    }
  }

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    border-color: #62d1ba;
    outline: none;
  }
}
