.group-content {
  @media (min-width: @tablet-width) {
    &--name {
      gap: 24px;
    }

    &--surname {
      gap: 25px;
    }

    &--last-name {
      gap: 27px;
    }
  }
}

.group-content__input {
  .form-input();

  padding-bottom: 17px;
  padding-top: 15px;
}
