.advantages {
  padding: 26px 30px 58px 30px;

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 83px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 63px;
    padding-left: 225px;
    padding-bottom: 90px;
  }
}

.advantages__wrapper {
  @media (min-width: @desktop-width) {
    width: fit-content;
    margin: auto;
    margin-left: 0;
  }
}

.advantages__title {
  margin-bottom: 82px;

  @media (min-width: @tablet-width) {
    margin-bottom: 97px;
  }
}
