.feedback {
  padding: 0 30px 45px 30px;
}

.feedback__title {
  margin-bottom: 14px;
}

.feedback__item {
  margin: 0;
  margin-bottom: 30px;
}

.feedback__slider {
  margin-bottom: 38px;
}

.feedback__button {
  margin: auto;
}
