.header-navigation {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  background-color: #ffffff;
}

.header-navigation__list {
  li {
    min-height: 79px;
    padding-top: 28px;
    padding-left: 76px;

    box-shadow: 0 1px 0 #ececec;
  }
}
