.header-navigation {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  background-color: #ffffff;

  &--nojs {
    position: static;

    display: block;
  }

  @media (min-width: @tablet-width) {
    position: relative;

    display: grid;
    width: 100%;
    grid-template-columns: 369px 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 149px 1fr;
  }
}

.header-navigation__list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &--site {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: 100%;
      z-index: 2;

      grid-column: 1/2;
      margin-left: 50px;
      margin-top: -5px;

      font-size: 15px;

      background-color: transparent;
    }

    @media (min-width: @desktop-width) {
      position: static;

      grid-column: 1/2;
      grid-row: 1/2;
      gap: 35px;
      padding-top: 7px;

      font-size: 17px;

      background-color: #ffffff;
    }
  }

  &--user {
    @media (min-width: @tablet-width) {
      order: -1;
      grid-column: 2/3;
      justify-self: end;
      width: fit-content;
      margin-right: 50px;
    }

    @media (min-width: @desktop-width) {
      grid-column: 3/4;
    }
  }

  &--promo {
    display: none;

    @media (min-width: @tablet-width) {
      position: absolute;
      top: 100%;

      grid-column: 2/3;
      justify-self: end;
      display: flex;
      align-self: center;
      justify-content: flex-end;
      margin-top: -5px;

      background-color: transparent;
    }

    @media (min-width: @desktop-width) {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: auto auto 1fr;
      justify-content: start;

      font-size: 15px;
    }
  }
}

.header-navigation__item {
  min-height: 79px;
  padding-top: 28px;
  padding-left: 76px;
  box-sizing: border-box;

  box-shadow: 0 1px 0 #ececec;

  &--promo {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;

      &_sale {
        margin-right: 440px;
      }

      &_delivery {
        justify-self: end;
      }

      &_new {
        margin-left: 50px;
        margin-right: 62px;
      }
    }

    @media (min-width: @tablet-width) {
      &_delivery {
        display: block;
        margin-right: 50px;
        width: 233px;

        font-weight: 400;
        font-size: 15px;
      }
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0;

    box-shadow: none;

    &--catalog {
      margin-right: 36px;
    }

    &--search {
      width: 83px;
      box-sizing: border-box;

      border: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: none;
      border-top: none;
    }

    &--cart {
      flex-grow: 1;
    }
  }

  @media (min-width: @desktop-width) {
    &--catalog {
      margin-right: 0;
      padding-right: 35px;

      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}


.header-navigation__text {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header-navigation__link {
  position: relative;

  width: 100%;
  height: 100%;
  display: flex;

  &:hover {
    .header-navigation__icon {
      fill: #63d1bb;
    }
  }

  &:active {
    .header-navigation__icon {
      fill: rgba(99, 209, 187, 0.3);
    }
  }

  @media (min-width: @tablet-width) {
    justify-content: center;
    align-items: center;

    &--cart {
      display: grid;
      grid-template-columns: 85px 181px;
    }
  }
}

.header-navigation__link:not(.header-navigation__link--secondary) {
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.header-navigation__icon {
  position: absolute;
  left: -44px;
  top: 2px;

  fill: rgba(0, 0, 0, 0.2);

  @media (min-width: @tablet-width) {
    position: static;
  }

  &--cart {
    @media (min-width: @tablet-width) {
      margin-left: 33px;
      margin-right: 32px;
    }
  }
}


.header-navigation--inner {
  @media (min-width: @tablet-width) {
    position: relative;

    &::after {
      position: absolute;
      z-index: 3;

      width: 100%;
      grid-row: 2/3;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);

      content: "";
    }

    .header-navigation__list--promo,
    .header-navigation__list--site {
      position: static;
      background-color: #f1f1f1;
      margin-top: 0;
    }

    .header-navigation__list--site {
      margin-left: 0;
      padding-left: 50px;
    }

    .header-navigation__list--promo {
      height: 100%;
    }

    .header-navigation__list--user {
      min-height: 89px;
    }
  }

  @media (min-width: @desktop-width) {
    .header-navigation__list--site {
      background-color: transparent;
    }

    .header-navigation__list--promo {
      margin-bottom: -1px;
    }
  }
}

.header-navigation__item--inner {
  @media (min-width: @tablet-width) {
    min-height: 64px;
  }
}
