.intro {
  width: 100%;

  background: url("../../img/img-index/intro-background.jpg") no-repeat center -22px;
  background-size: 568px 373px;
}

.intro__wrapper {
  padding: 73px 30px 120px 30px;
  display: flex;
  justify-content: center;
}
