.intro {
  width: 100%;

  background: url("../img/img-index/intro-background.jpg") no-repeat center -22px;
  background-size: 568px auto;
  background-color: #f9f9f9;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/img-index/intro-background@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    position: relative;

    min-height: 748px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: url("../img/img-index/intro-desktop.jpg") no-repeat center top;
    background-color: #f9f9f9;
    background-size: 1150px;

    &::after {
      position: absolute;
      top: 98%;
      left: 0;

      width: 100%;
      min-width: 768px;
      height: 24px;

      background-image: url("../img/zigzag/zigzag-tablet.svg");
      background-size: 38px 24px;

      content: "";
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/img-index/intro-desktop@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 746px;
    background-size: contain;

    &::after {
      height: 34px;
      top: initial;
      bottom: -16px;

      background-image: url("../img/zigzag/zigzag-desktop.svg");
      background-size: 63px 34px;
    }
  }
}


.intro__wrapper {
  padding: 73px 30px 120px 30px;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding-top: 155px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 158px;
  }
}
