.page-footer {
  padding-top: 29px;
  padding-bottom: 23px;

  background-color: #f1f1f1;
}

.page-footer__social-list {
  margin-bottom: 58px;
}

.page-footer__copyright {
  margin: 0 auto;
  width: fit-content;
}
