.product-details {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.product-details__column {
  position: relative;

  display: grid;
  grid-template-columns: 69px 1fr;
  min-height: 40px;
  gap: 30px;

  &::after {
    position: absolute;
    bottom: 6px;

    width: 100%;
    height: 1px;

    background-color: #ececec;

    content: "";
  }
}

.product-details__parameter {
  margin: 0;

  text-transform: lowercase;
}
