.product-details {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.product-details__column {
  position: relative;
  display: grid;
  grid-template-columns: 69px 1fr;
  min-height: 32px;
  gap: 30px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    margin-bottom: 7px;
  }
}

.product-details__parameter {
  margin: 0;

  text-transform: lowercase;
}
