.promo {
  padding-top: 31px;
  padding-bottom: 45px;
}

.promo__wrapper {
  margin-left: 30px;
  margin-right: 30px;
}

.promo__title {
  margin-bottom: 3px;
}

.promo__subtitle {
  display: block;
  margin-bottom: 17px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.promo__description {
  margin: 0;
  margin-bottom: 26px;

  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.promo__details {
  margin: 0;
  margin-bottom: 28px;
}

.promo__illustration {
  display: block;
  margin: auto;
  margin-bottom: 25px;
}

.promo__price {
  display: block;
  margin: auto;
  margin-bottom: 24px;

  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.promo__button {
  margin: auto;
}
