

.size-item__control-mark {
  width: 82px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;

  outline: 2px solid rgba(68, 68, 68, 0.1);
}

.size-item__control-input:checked ~ .size-item__control-mark {
  outline: 2px solid #63d1bb;
}
